<div class="title_area">
  <div class="left_area">
    <div class="room_name">test_name</div>
  </div>
  <div class="right_area">
    <div class="close_chat">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="message_area">
  <%= render partial: 'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], html: {class: "input_area"}, local: true do |f|%>
    <div class="form-input">
      <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'form-submit' %>
<% end %>
